:root {
    --transition: all 0.3s linear;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.hide-sidebar {
    transform: translate(-100%);
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(255, 255, 255, 0.51);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: var(--transition);
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

a {
    text-decoration: none;
}

nav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}